{# {% set page_title = 'Sun Shine' %} #}
{% set page_title = 'Test' %}
{% extends "../elements/_base.twig" %}

{% block content %}
	<div class="menu">
		<div class="menu__dots">
			<span class="menu__dots_text">Trang chủ</span>
			<div class="menu__dots_circle">
				<a name="Trang chủ" link="home" class="active" href="#home"></a>
				<a name="Vị trí & Tiện ích" link="position" href="#position"></a>
				<a name="CSBH" link="csbh" href="#csbh"></a>
			</div>
		</div>
		<div class="menu__text">
			<a href="#" class="menu__text_logo">
				<img src="../../assets/images/logo.png" alt="">
			</a>
			{# active #}
			<div class="menu__text_toggle">
				<span class="text">
					menu
				</span>
				<div class="lines">
					<span class="line line_1"></span>
					<span class="line line_2"></span>
					<span class="line line_3"></span>
				</div>
			</div>
		</div>
	</div>
	<div class="menu__absolute">
		<a name="Trang chủ" link="home" href="#home" class="active">Trang chủ</a>
		<a name="Vị trí & Tiện ích" link="position" href="#position">Vị trí & Tiện ích</a>
		<a name="CSBH" link="csbh" href="#csbh">CSBH</a>
	</div>
	<section class="block1 home" id="home">
		<div class="block1__container">
			<figure class="block1__heading">
				<img src="../../assets/images/block1_title.png" alt="block 1 heading">
			</figure>
			<form class="form" action="">
				<div class="block1__title">
					ĐĂNG KÝ TẠI ĐÂY
					<br>
					ĐỂ NHẬN TƯ VẤN VÀ BÁO GIÁ
				</div>
				<div class="block1__form form">
					<div class="block1__form-group wow fadeInUp">
						<input class="block1__form-control block1Name" name="name" type="text" placeholder="Họ và tên">
					</div>
					<div class="block1__form-group wow fadeInUp">
						<input class="block1__form-control block1Phone" name="phone" type="text" placeholder="Số điện thoại">
					</div>
					<div class="block1__form-group wow fadeInUp">
						<input class="block1__form-control block1Email" name="email" type="text" placeholder="Email">
					</div>
					<div class="block1__form-group wow fadeInUp">
						<input class="block1__form-control block1Note" name="note" type="text" placeholder="Ghi chú yêu cầu">
					</div>
					<div class="block1__form-button text-center wow fadeInUp">
						<button class="btn-submit" type="submit">
							Đăng ký
						</button>
					</div>
				</div>
			</form>
		</div>
	</section>
	<section class="block_intro">
		<div class="block_intro__container">
			<div class="text">
				“SUNSHINE CIPUTRA
				<br>
				Một biểu tượng mới của Hà Nội
				<br>
				Một khu đô thị đáng sống và đẳng
				<br>
				cấp nhất Hà Nội"
			</div>
			<button class="btn-arrow">đăng ký trải nghiệm</button>
		</div>
	</section>
	<section class="block2 position" id="position">
		<div class="block2__container">
			<div class="big_heading">
				<div class="big_heading__top">
					<span>vị trí</span>
					<span>tiện ích</span>
				</div>
				<i>SUNSHINE CRYSTAL RIVER</i>
			</div>
			<div class="block2__2side">
				<div class="block2__2side--wrap left">
					<p>Tọa lạc bên bờ Nam sông Hồng, nằm trong quần thể khu đô thị quốc tế Ciputra, cư dân SUNSHINE CRYSTAL RIVER dễ dang di chuyển và kết nối với các khu vực nội và ngoại thành Hà Nội.</p>
					<img class="image" src="../../assets/images/vitri_01.jpg" alt="">
					<div>
						<p>Ciputra là quần thể duy nhất có quy hoạch sân Golf tiêu chuẩn trong nội thành Hà Nội lên đến gần 100ha. Sân Golf này đang được lên kế hoạch để triển khai xây dựng trong thời gian tới. Hiện tại, Ciputra đang có sân tập Golf 38 làn được đánh giá là 1 trong 10 sân tập tốt nhất Hà Nội.</p>
						<p>Vào thời điểm ra mắt với hệ thống Compoud an ninh nghiêm ngặt, mật độ cây xanh cực lớn. Ciputra còn nổi bật với hệ thống các trường học quốc tế UNIS Liên Hợp Quốc, trường song ngữ Academy, trường mầm non Singapore và còn nhiều điều tuyệt vời khác nữa.</p>
					</div>
				</div>
				<div class="block2__2side--wrap right">
					<ul>
						<li>15 phút đến sân bay Nội Bài</li>
						<li>15 phút đến cụm công nghiệp Bắc Thăng Long</li>
						<li>25 phút đến hồ Hoàn Kiếm qua đường Âu Cơ hoặc Võ Chí Công (10 làn xe)</li>
						<li>30 phút đến Pháp Vân qua Phạm Văn Đồng (96m-12 làn) & đường Vành đai 3 trên cao</li>
					</ul>
					<p>Tọa lạc bên bờ Nam sông Hồng, nằm trong quần thể khu đô thị quốc tế Ciputra, cư dân SUNSHINE CRYSTAL RIVER dễ dang di chuyển và kết nối với các khu vực nội và ngoại thành Hà Nội.</p>
					<button class="btn-submit p-0 wow fadeInUp " type="submit">
						Đăng ký
					</button>
					<img class="image" src="../../assets/images/vitri_02.jpg" alt="">
				</div>
			</div>
			<div class="block2__slider">
				<figure class="item">
					<img src="../../assets/images/vitri_slider01.jpg" alt="">
					<span class="text">Tọa lạc bên bờ Nam sông Hồng</span>
				</figure>
				<figure class="item">
					<img src="../../assets/images/vitri_slider01.jpg" alt="">
					<span class="text">Tọa lạc bên bờ Nam sông Hồng</span>
				</figure>
				<figure class="item">
					<img src="../../assets/images/vitri_slider01.jpg" alt="">
					<span class="text">Tọa lạc bên bờ Nam sông Hồng</span>
				</figure>
			</div>
			<div class="text-center">
				<button class="btn-arrow">đăng ký trải nghiệm</button>
			</div>
		</div>
	</section>
	<section class="block3 csbh" id="csbh">
		<div class="block3__container">
			<div class="big_heading">
				<div class="big_heading__top">
					<span>chính sách</span>
					<span>bán hàng</span>
				</div>
				<i>SUNSHINE CRYSTAL RIVER</i>
			</div>
			<div class="block3__content">
				<div class="block3__content--item">
					<div class="title">
						<span class="no">01</span>
						<span class="percent">75%</span>
					</div>
					<div class="detail">
						Tọa lạc bên bờ Nam sông Hồng, nằm trong quần thể khu đô thị quốc tế Ciputra, cư dân SUNSHINE CRYSTAL RIVER dễ dang di chuyển và kết nối với các khu vực nội và ngoại thành Hà Nội.
					</div>
				</div>
				<div class="block3__content--item">
					<div class="title">
						<span class="no">02</span>
						<span class="percent">3%</span>
					</div>
					<div class="detail">
						Tọa lạc bên bờ Nam sông Hồng, nằm trong quần thể khu đô thị quốc tế Ciputra, cư dân SUNSHINE CRYSTAL RIVER dễ dang di chuyển và kết nối với các khu vực nội và ngoại thành Hà Nội.
					</div>
				</div>
				<div class="block3__content--item">
					<div class="title">
						<span class="no">03</span>
						<span class="percent">25%</span>
					</div>
					<div class="detail">
						Tọa lạc bên bờ Nam sông Hồng, nằm trong quần thể khu đô thị quốc tế Ciputra, cư dân SUNSHINE CRYSTAL RIVER dễ dang di chuyển và kết nối với các khu vực nội và ngoại thành Hà Nội.
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="block4">
		<div class="block4__container">
			<img src="../../assets/images/block4_text.png" alt="SUNSHINE CRYSTAL RIVER BIỂU TƯỢNG THƯỢNG LƯU ĐẲNG CẤP NHẤT SUNSHINE CIPUTRA">
		</div>
	</section>
	<section class="block5">
		<div class="block5__container">
			<div class="block5__wrap block5__left">
				<a href="#" class="block5__logo">
					<img src="../../assets/images/logo_footer.png" alt="SUNSHINE CRYSTAL RIVER">
				</a>
				<div class="block5__contact">
					<div>
						<span>Địa Chỉ Dự Án:</span>
						Quận 4, TP Hồ Chí Minh
					</div>
					<div class="d-flex">
						<div>
							Email:
							<a href="mailto:replydiamondriver@sunshinegroup.vn">horizon@sunshinegroup.vn</a>
						</div>
						<div>
							<span class="pl-2 pr-2 d-none d-md-inline-block">-</span>
							Hotline:
							<a href="tel:0931 222 279">0931 2222 79</a>
						</div>
					</div>
				</div>
				<div class="block5__address">
					<div class="block5__address-item">
						<div>
							<span>Tại Hà Nội:</span>
						</div>
						<div>
							Tòa nhà Sunshine Center
							<br>
							Số 16, Đường Phạm Hùng,
							<br>
							Quận Nam Từ Liêm, Hà Nội
						</div>
					</div>
					<div class="block5__address-item">
						<div>
							<span>Tại Hồ Chí Minh:</span>
						</div>
						<div>
							Tầng 18, Tòa nhà Deutches Haus,
							<br>
							33 Lê Duẩn, Phường Bến Nghé,
							<br>
							Quận 1, Thành phố Hồ Chí Minh
						</div>
					</div>
				</div>
			</div>
			<div class="block5__wrap block5__right">
				<div class="block5__right-title">
					ĐĂNG KÝ TẠI ĐÂY ĐỂ NHẬN TƯ VẤN VÀ BÁO GIÁ
				</div>
				<form method="POST">
					<div class="block5__form form">
						<div class="block5__form-group">
							<input class="block5__form-control block5Name" name="name" type="text" placeholder="Họ và tên">
						</div>
						<div class="block5__form-group">
							<input class="block5__form-control block5Email" name="email" type="text" placeholder="Email">
						</div>
						<div class="block5__form-group">
							<input class="block5__form-control block5Phone" name="phone" type="text" placeholder="Số điện thoại">
						</div>
						<div class="block5__form-group">
							<input class="block5__form-control block5Note" name="note" type="text" placeholder="Ghi chú nhu cầu">
						</div>
						<div class="block5__button text-center">
							<button class="btn-submit" type="submit" disabled="disabled">
								Đăng ký
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</section>

	{# add active on show  #}
	<div class="message">
		<div class="message__content text-center">
			<div class="message__title">Bạn đã đăng ký tư vấn thành công.</div>
			<button class="btn-submit" type="button">Đóng</button>
		</div>
	</div>

	{# add active on show  #}
	<div class="loading active">
		<img src="../../assets/images/loading.gif">
	</div>

{% endblock %}
