<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ page_title }}</title>
    <!-- font awesome  ------------------------------------------------------------>
    <link rel="stylesheet" href="./assets/font-awesome/fontawesome-free-5/all.min.css">
    <link rel="stylesheet" href="./assets/font-awesome/lineawesome/line-awesome.min.css">

    <!-- css libs  ------------------------------------------------------------>
    <link rel="stylesheet" href="./assets/libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/libs/select2/select2.min.css">
    <link rel="stylesheet" href="./assets/libs/slick/slick.css">
    <link rel="stylesheet" href="./assets/libs/slick/slick-theme.css">
    <link rel="stylesheet" href="./assets/libs/bootstap-hover/bootstrap-dropdownhover.min.css">
    <link rel="stylesheet" href="./assets/libs/lightbox/ekko-lightbox.css">
    <link rel="stylesheet" href="./assets/libs/bootstrap-slider/bootstrap-slider.min.css">
    <link rel="stylesheet" href="https://www.jqueryscript.net/demo/Morris-Good-looking-Charts-Plugin/morris.css">
    <script src="./assets/libs/jquery/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.3.0/raphael.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
    <!-- end css libs  -------------------------------------------------------->

</head>

<body>
    
    <main class="main_wapper">
        {% block sidebar %}{% endblock %}
        <div class="main_container">
            {% block header %}{% endblock %}
            {% block content %}{% endblock %}
        </div>
    </main>

    <!-- libs  ---------------------------------------------------------------->
    <script src="./assets/libs/bootstrap/js/popper.min.js"></script>
    <script src="./assets/libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="./assets/libs/bootstrap-slider/bootstrap-slider.min.js"></script>
    <script src="./assets/libs/select2/select2.js"></script>
    <script src="./assets/libs/slick/slick.min.js"></script>
    <script src="./assets/libs/bootstap-hover/bootstrap-dropdownhover.js"></script>
    <script src="./assets/libs/datepicker/bootstrap-datepicker.min.js"></script>
    <script src="./assets/libs/lightbox/ekko-lightbox.min.js"></script>

    <!-- end libs  ------------------------------------------------------------>
    <!-- my js  --------------------------------------------------------------->
    <script src="./js/style.js"></script>
</body>

</html>