<header class="header d-flex align-items-center">
    <div class="header_actions">
        <a class="header_actions__item sidebar_toggler" href="javascript:void(0)">
            <span class="line line-1"></span>
            <span class="line line-2"></span>
            <span class="line line-3"></span>
        </a>
        <a href="#" class="header_actions__item">
            <i class="icon icon_files fas fa-paste"></i>
        </a>

        {% set active = false %}
        <a href="#" class="header_actions__item {{ active == true ? 'active' :'' }}">
            {% include 'icon_svg/_icon_camera.twig' %}
        </a>

         {% set active = false %}
        <a href="#" class="header_actions__item {{ active == true ? 'active' :'' }}">
            {% include 'icon_svg/_icon_map.twig' %}
        </a>
    </div>

    <div class="user">
        <div class="d-flex">
            <figure class="user__avatar">
                <img src="../../assets/images/chat_avatar.jpeg" alt="avatar user">
            </figure>
            <div class="user__info">
                <span class="name">Nguyễn Tấn An</span>
                <span class="position">Admin</span>
            </div>
        </div>
        <div class="user__actions">
            <ul>
                <li>
                    <i class="icon fas fa-user"></i>
                    Tài khoản
                </li>
                <li>
                    <i class="icon fas fa-cog"></i>
                    Cài đặt
                </li>
                <li class="log-out">
                    <i class="icon fas fa-sign-out-alt"></i>
                    Đăng xuất
                </li>
            </ul>
        </div>
    </div>

</header>