body {
    font-family: $SVN-Gotham-Book;
    // font-size: 16px;
    font-size: 0.833vw;
    padding: 0;
}

$color_yellow: #f1c85f;

figure {
    margin: 0;
}

img {
    width: 100%;
}

button {
    outline: none;
    box-shadow: none;

    &:focus {
        outline: none;
        box-shadow: none;
    }
}

.social {
    @include flexbox;
    @include flex-direction(column);
    position: fixed;
    z-index: 3;
    left: 1.302vw;
    bottom: 1.302vw;

    @media (max-width: 767px) {
        left: 35px;
        bottom: 35px;
        display: none;
    }

    &__item {
        @include flex_center;
        border-radius: 50%;
        width: 4.167vw;
        height: 4.167vw;
        margin: 0.625vw 0;
        background-position: center center;
        background-size: cover;
        background-image: url("../assets/images/social_bg.png");

        @media (max-width: 767px) {
            width: 12vw;
            height: 12vw;
            margin: 4px;
        }

        &:hover {
            img {
                @include transform(scale(0.85));
            }
        }

        img {
            width: 100%;
            @include transition(all 0.3s ease);
        }
    }

    .yt {
        img {
            width: 2.344vw;

            @media (max-width: 767px) {
                width: 6.344vw;
            }
        }
    }

    .fb {
        img {
            width: 1.302vw;

            @media (max-width: 767px) {
                width: 3.302vw;
            }
        }
    }
}

.form {
    input {
        padding-left: 15px;
        padding-left: 0.781vw;

        @media (max-width: 767px) {
            padding-left: 2.5vw;
            font-size: 3.5vw;
        }

        @mixin placeholder {
            color: #000;
            font-family: $SVN-Gotham-Book;
        }

        &::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            @include placeholder;
        }

        &::-moz-placeholder {
            /* Firefox 19+ */
            @include placeholder;
        }

        &:-ms-input-placeholder {
            /* IE 10+ */
            @include placeholder;
        }

        &:-moz-placeholder {
            /* Firefox 18- */
            @include placeholder;
        }
    }
}

.btn-submit {
    background-image: url("../assets/images/btn-submit-yellow.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position-x: -1px;
    background-position-y: -1px;
    color: #071421;
    text-align: center;
    text-transform: uppercase;
    background-color: transparent;
    padding: 0;
    border: none;
    font-weight: bold;

    // border-radius: 10px;
    // height: 65px;
    // width: 350px;
    // font-size: 30px;

    border-radius: 0.521vw;
    height: 3.385vw;
    width: 18.229vw;
    font-size: 1.563vw;

    @media (max-width: 767px) {
        font-size: 4.5vw;
        height: 9vw;
        width: 39vw;
    }

    &[disabled="disabled"] {
        cursor: not-allowed;
    }

    &:hover {
        background-image: url("../assets/images/btn-submit-white.png");
    }
}

.btn-arrow {
    // font-size: 30px;
    // padding-right: 60px;
    font-size: 1.563vw;
    padding-right: 3.125vw;

    @media (max-width: 767px) {
        font-size: 3.563vw;
        padding-right: 9.125vw;
    }

    color: #bb9348;
    background-color: transparent;
    border: none;
    box-shadow: none;
    position: relative;
    outline: none;
    font-weight: bold;

    &::before {
        position: absolute;
        content: "";
        height: 100%;
        // width: 50px;
        width: 2.604vw;
        background-repeat: no-repeat;
        right: 0;
        top: 64%;
        @include transform(translateY(-50%));
        background-image: url("../assets/images/btn_arrow_yellow.png");
        background-position: right;
        background-size: contain;

        @media (max-width: 767px) {
            width: 7vw;
            background-size: 8vw;
        }
    }

    &:hover {
        color: #fff;

        &::before {
            background-image: url("../assets/images/btn_arrow_white.png");
        }
    }
}

.big_heading {
    // max-width: 520px;
    width: 27.083vw;
    margin: 0 auto;
    text-align: center;

    * {
        display: inline-block;
        color: #bb9348;
    }

    span {
        font-size: 70px;
        font-size: 3.646vw;
        font-family: $SVN-Gotham-Bold;
        text-transform: uppercase;
        @include flexbox;
        @include flex-direction(column);
        text-align: left;

        &:nth-child(1) {
            padding-left: 40px;
            padding-left: 2.083vw;
        }

        &:nth-child(2) {
            padding-left: 95px;
            padding-left: 4.948vw;
        }

        @media (max-width: 767px) {
            font-size: 8.646vw;
        }
    }

    i {
        font-size: 32px;
        padding-top: 2px;
        font-size: 1.667vw;
        padding-top: 0.104vw;
        font-family: $UTMCenturBold;
        text-transform: uppercase;
        font-style: normal;

        @media (max-width: 767px) {
            font-size: 3.667vw;
        }
    }

    &__top {
        line-height: normal;
    }
}

.message {
    position: fixed;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%));
    z-index: 9999;
    width: 31.25vw;
    padding: 1.04167vw;
    background: rgba(255, 255, 255, 0.8);
    display: none;
    @media (max-width: 767px) {
        max-width: 400px;
        width: 60vw;
        padding: 2vw;
    }

    &.active {
        display: block;
    }

    &__content {
    }

    &__title {
        font-size: 1.65vw;
        color: #3f4d6e;
        text-align: center;
        font-family: $SVN-Gotham-Bold;
        @media (max-width: 767px) {
            font-size: 4vw;
        }
    }

    .btn-submit {
        margin-top: 1vw;
    }
}

.loading {
    background: #00000080;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    visibility: hidden;
    opacity: 0;
    @include transition(all 0.3s ease);
    @include flex_center;
    @include transform(translate(-50%, -50%));

    &.active {
        z-index: 999;
        visibility: visible;
        opacity: 1;
    }

    img {
        position: absolute;
        width: 100%;
        width: 12vw;
        top: 50%;
        left: 50%;
        @include transform(translate(-50%, -50%));

        @media (max-width: 767px) {
            width: 30vw;
        }
    }
}

.menu {
    position: fixed;
    z-index: 2;
    @include flexbox;
    @include align-items(center);
    @include justify-content(flex-end);
    width: 100%;
    top: 0;
    right: 0;
    padding-top: 1.042vw;
    padding-bottom: 1.042vw;
    padding-right: 1.771vw;

    @media (max-width: 767px) {
        padding: 3vw;
        padding-left: 0;
        height: 13vw;
    }

    &::before {
        content: "";
        width: 50%;
        height: 100%;
        background-image: url("../assets/images/menu_bg.png");
        background-size: 100% auto;
        background-position: right center;
        position: absolute;
        right: 0;

        @media (max-width: 767px) {
            width: 100%;
        }
    }

    &__dots,
    &__text {
        @include flexbox;
        @include align-items(center);
        z-index: 1;
    }

    &__dots {
        @media (max-width: 767px) {
            display: none;
        }
    }

    &__dots_text {
        color: $color_yellow;
        // padding-right: 20px;
        padding-right: 1.042vw;
    }

    &__dots_circle {
        @include flexbox;
        margin: 0;
        padding: 0;

        a {
            // width: 13px;
            // height: 13px;
            width: 0.677vw;
            height: 0.677vw;
            margin: 0 0.313vw;
            // margin: 0 6px;
            background-color: #5d7286;
            cursor: pointer;
            display: block;
            border-radius: 50%;

            &.active,
            &:hover {
                background-color: $color_yellow;
            }
        }
    }

    &__text_logo {
        // width: 65px;
        width: 3vw;
        display: block;
        // margin: 0 20px;
        margin: 0 1.042vw;

        @media (max-width: 767px) {
            width: 9vw;
            margin: 0px 2.042vw;
        }
    }

    &__text_toggle {
        @include flexbox;
        @include align-items(center);
        cursor: pointer;

        .text {
            color: #e1eaf3;
            text-transform: uppercase;
            // margin-right: 4px;
            margin-right: 0.208vw;
            font-size: 12px;
            font-size: 0.625vw;
            letter-spacing: 1px;

            @media (max-width: 767px) {
                font-size: 3.5vw;
                margin-right: 1vw;
            }
        }

        .lines {
            @include flexbox;
            @include flex-direction(column);

            @media (max-width: 767px) {
                margin-top: 0.2vw;
            }

            .line {
                background-color: #e1eaf3;
                height: 0.104vw;
                width: 0.938vw;
                margin-bottom: 0.156vw;
                transition: all 0.2s ease;
                // height: 2px;
                // width: 18px;
                // margin-bottom: 3px;

                @media (max-width: 767px) {
                    height: 0.625vw;
                    width: 5.625vw;
                    margin-bottom: 0.5vw;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        &.active {
            .line_2 {
                display: none;
            }

            .line_3 {
                @include transform(rotate(-45deg) translateY(-0.156vw) translateX(0.052vw));
                // @include transform(rotate(-45deg) translateY(-3px) translateX(1px));
            }

            .line_1 {
                @include transform(rotate(45deg) translateY(0.104vw) translateX(0.052vw));

                // @include transform(rotate(45deg) translateY(2px) translateX(1px));
                @media (max-width: 767px) {
                    @include transform(rotate(45deg) translateY(0.55vw) translateX(0.75vw));
                }
            }
        }
    }

    &__absolute {
        position: fixed;
        right: 0;
        z-index: 2;
        text-align: right;
        // top: 105px;
        // padding-right: 20px;
        // padding-bottom: 30px;
        // padding-top: 30px;
        width: 80%;
        top: 5.208vw;
        padding: 0;
        padding-right: 1.042vw;
        height: 0;
        visibility: hidden;
        opacity: 0;
        transition: all 0.3s ease;

        @media (max-width: 767px) {
            width: 70%;
            height: 100% !important;
            background: #121d25d1;
            top: 13vw;
            padding: 8vw;
            @include flexbox;
            @include flex-direction(column);
        }

        &.active {
            opacity: 1;
            visibility: visible;
            height: auto;
            padding-top: 1.563vw;
            padding-bottom: 1.563vw;
        }

        &::before {
            content: "";
            width: 50%;
            height: 100%;
            background-image: url("../assets/images/menu_bg.png");
            background-size: 100% auto;
            background-position: right center;
            position: absolute;
            right: 0;
            top: 0;

            @media (max-width: 767px) {
                display: none;
            }
        }

        a {
            position: relative;
            // margin: 0 12px;
            // font-size: 20px;
            margin: 0 0.625vw;
            font-size: 1.042vw;
            color: #fff;
            text-decoration: none;
            z-index: 1;
            @include transition(all 0.3s ease);

            @media (max-width: 767px) {
                font-size: 4.5vw;
                margin: 2vw 0;
            }

            &.active,
            &:hover {
                position: relative;
                // padding-bottom: 5px;
                padding-bottom: 0.26vw;
                color: $color_yellow;

                &::before {
                    position: absolute;
                    content: "";
                    bottom: 0;
                    height: 1px;
                    width: 80%;
                    left: 50%;
                    background-color: $color_yellow;
                    @include transform(translateX(-50%));

                    @media (max-width: 767px) {
                        display: none;
                    }
                }
            }
        }
    }
}

.block1 {
    position: relative;
    height: 56.25vw;
    width: 100%;
    background: url("../assets/images/block1_bg.jpg");
    background-size: 100% 100%;

    @media (max-width: 767px) {
        background-size: 100% auto;
        background-repeat: no-repeat;
        padding-top: 53vw;
        height: auto;
    }

    &__container {
        position: absolute;
        // left: 140px;
        // top: 100px;
        // max-width: 610px;
        left: 7.292vw;
        top: 3.208vw;
        width: 31.771vw;

        @media (max-width: 767px) {
            position: static;
            width: 100%;
            top: 0;
            left: 0;
            padding: 7vw 2vw;
            background: radial-gradient(circle, rgba(220, 176, 115, 1) 0%, rgba(5, 19, 32, 1) 100%);
        }
    }

    &__heading {
        width: 24.125vw;
        margin: 0 auto;

        @media (max-width: 767px) {
            width: 55vw;
        }
    }

    &__title {
        color: #fff;
        text-align: center;
        font-family: $UTMCenturBold;
        line-height: 1.3;

        // margin-bottom: 25px;
        // font-size: 30px;
        margin-bottom: 1.302vw;
        font-size: 1.563vw;

        @media (max-width: 767px) {
            margin-bottom: 3.302vw;
            font-size: 4.563vw;
        }
    }

    &__form-group {
        margin-bottom: 15px;
        margin-bottom: 0.781vw;

        @media (max-width: 767px) {
            margin-bottom: 2.302vw;
        }
    }

    &__form-control {
        width: 100%;
        background: #ffffff73;
        outline: none;
        border: none;
        // border-radius: 10px;

        height: 3.125vw;
        border-radius: 0.521vw;

        @media (max-width: 767px) {
            height: 9.125vw;
        }
    }

    .form {
        width: 28.125vw;
        margin: 0 auto;

        @media (max-width: 767px) {
            width: 80vw;
        }
    }
}

.block_intro {
    height: 37.865vw;
    position: relative;
    width: 100%;
    background: url("../assets/images/block_intro.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-bottom: -1vw;

    @media (max-width: 767px) {
        height: 67.865vw;
    }

    &__container {
        position: absolute;
        top: 50%;
        left: 50%;
        text-align: center;
        width: 100%;
        @include transform(translate(-50%, -50%));
    }

    .text {
        color: #e1eaf3;
        font-family: $UTMCentur;
        // font-size: 42px;
        font-size: 2.188vw;

        @media (max-width: 767px) {
            font-size: 5vw;
        }
    }

    .btn-arrow {
        // margin-top: 10px;
        margin-top: 0.521vw;

        @media (max-width: 767px) {
            font-size: 4.7vw;
            margin-top: 3vw;
        }
    }
}

.block2 {
    font-size: 1.25vw;
    padding-top: 3.125vw;
    // font-size: 24px;
    // padding-top: 60px;
    // height: 128.229vw;
    position: relative;
    width: 100%;
    background: url("../assets/images/block2_bg.jpg");
    background-size: 100% 100%;
    color: #e1eaf3;
    font-family: $SVN-Gotham-Book;

    @media (max-width: 767px) {
        height: 100%;
        font-size: 3.5vw;
    }

    &__container {
        @media (max-width: 767px) {
            width: 80vw;
            margin: 0 auto;
        }
    }

    &__2side {
        @include flexbox;
        @include justify-content(space-between);
        // margin-top: 40px;
        margin-top: 2.083vw;

        @media (max-width: 767px) {
            @include flex-direction(column);
        }

        &--wrap {
            // width: calc(50% - 24px);
            width: calc(50% - 1.25vw);

            *:not(img) {
                line-height: normal;
            }

            @media (max-width: 767px) {
                width: 100%;
            }
        }

        .image {
            // margin-top: 40px;
            // margin-bottom: 45px;
            margin-top: 2.083vw;
            margin-bottom: 2.344vw;

            img {
                width: 100% !important;
            }
        }

        .left {
            text-align: right;

            @media (max-width: 767px) {
                text-align: left;
            }

            *:not(img) {
                // margin-left: 150px;
                margin-left: 7.813vw;

                @media (max-width: 767px) {
                    margin: 0;
                    margin-bottom: 2vw;
                }
            }
        }

        .right {
            // margin-top: 70px;
            margin-top: 3.646vw;
            text-align: left;

            * {
                // padding-right: 150px;
                padding-right: 7.813vw;

                @media (max-width: 767px) {
                    padding: 0;
                }
            }

            .btn-submit {
                margin-top: 30px;
                margin-bottom: 50px;
                margin-top: 1.563vw;
                margin-bottom: 2.604vw;
            }
        }

        ul {
            list-style: none;
            padding: 0;

            li {
                position: relative;
                // margin-bottom: 8px;
                // padding-left: 36px;
                margin-bottom: 0.417vw;
                padding-left: 1.875vw;

                &::before {
                    position: absolute;
                    content: "";
                    background-image: url("../assets/images/list_star.png");
                    background-repeat: no-repeat;
                    background-size: cover;
                    left: 0;
                    // top: 7px;
                    // height: 22px;
                    // width: 22px;
                    top: 0.365vw;
                    height: 1.146vw;
                    width: 1.146vw;
                }
            }
        }
    }

    &__slider {
        margin: 0 auto;
        // width: calc(100% - 300px);
        // margin-top: 55px;
        width: calc(100% - 15.625vw);
        margin-top: 2.865vw;

        @media (max-width: 767px) {
            width: 80vw;
        }

        .item {
            position: relative;
        }

        .text {
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 1;
            color: #fff;
            background-color: #4e555b;
            // padding: 9px 20px;
            padding: 0.469vw 1.042vw;

            @media (max-width: 767px) {
                width: 80vw;
                padding: 1vw 4vw;
            }
        }

        .slick-arrow {
            background-repeat: no-repeat;
            background-size: cover;
            // width: 125px;
            // height: 125px;
            width: 5.7vw;
            height: 5.7vw;
            z-index: 1;

            &::before {
                display: none;
            }
        }

        .slick-prev {
            // left: -80px;
            left: -4.167vw;
            background-image: url("../assets/images/arrow_white_left.png");

            &:hover {
                background-image: url("../assets/images/arrow_yellow_left.png");
            }
        }

        .slick-next {
            // right: -80px;
            right: -4.167vw;
            background-image: url("../assets/images/arrow_white_right.png");

            &:hover {
                background-image: url("../assets/images/arrow_yellow_right.png");
            }
        }
    }

    .btn-arrow {
        // margin-top: 50px;
        margin-top: 2.604vw;
        text-align: center;
    }

    .big_heading {
        width: 100%;

        @media (max-width: 767px) {
            @include flexbox;
            @include flex-direction(column);
            width: 59vw;
            margin-bottom: 6vw;
        }
    }
}

.block3 {
    // padding-top: 180px;
    padding-top: 9.375vw;
    height: 44.906vw;
    position: relative;
    width: 100%;
    background: url("../assets/images/block3_bg.jpg");
    background-size: 100% 100%;

    @media (max-width: 767px) {
        height: auto;
        padding-bottom: 5vw;
    }

    &__container {
        margin: 0 auto;
        // width: calc(100% - 300px);
        width: calc(100% - 15.625vw);
    }

    .big_heading {
        @include flexbox;
        @include flex-direction(row);
        @include align-items(flex-end);
        max-width: 100%;
        width: auto;

        @media (max-width: 767px) {
            @include flex-direction(column);
        }

        &__top {
            width: 27.083vw;

            @media (max-width: 767px) {
                width: 100%;
            }
        }

        span {
            &:nth-child(1) {
                padding-left: 0;
            }
        }

        i {
            margin-bottom: 0.26vw;
            margin-left: 1.042vw;
            // margin-bottom: 5px;
            // margin-left: 20px;
        }
    }

    &__content {
        @include flexbox;
        @include justify-content(flex-end);
        @include flex-wrap(wrap);
        // margin-left: 60px;
        // margin-top: 30px;
        margin-left: 3.125vw;
        margin-top: 1.563vw;

        @media (max-width: 767px) {
            margin-left: 0;
            margin-top: 7vw;
        }

        &--item {
            // width: calc((100% / 3) - 80px);
            // margin: 0 40px;
            width: calc((100% / 3) - 4.167vw);
            margin: 0 2.083vw;
            text-align: right;

            @media (max-width: 767px) {
                width: 85%;
                margin: 0 auto;
                text-align: left;
                margin-bottom: 3vw;
            }

            .title {
                line-height: normal;
                @include flexbox;
                @include align-items(flex-end);
                @include justify-content(space-between);
            }

            .no {
                color: #bb9348;
                font-family: $SVN-Gotham-Bold;
                // margin-bottom: 20px;
                // font-size: 40px;
                margin-bottom: 1.042vw;
                font-size: 2.083vw;

                @media (max-width: 767px) {
                    font-size: 5vw;
                }
            }

            .percent {
                color: #e1eaf3;
                font-family: $SVN-Gotham-Bold;
                // font-size: 160px;
                font-size: 8.333vw;

                @media (max-width: 767px) {
                    font-size: 10vw;
                }
            }

            .detail {
                color: #e1eaf3;
                font-family: $SVN-Gotham-Book;
                line-height: normal;
                // font-size: 25px;
                font-size: 1.302vw;

                @media (max-width: 767px) {
                    font-size: 3.5vw;
                    text-align: justify;
                }
            }
        }
    }
}

.block4 {
    height: 42.552vw;
    position: relative;
    width: 100%;
    background: url("../assets/images/block4_bg.jpg");
    background-size: 100% 100%;
    @include flex_center;

    &__container {
        max-width: 85%;
        margin: 0 auto;

        @media (max-width: 767px) {
            max-width: 100%;
        }
    }
}

.block5 {
    font-family: $SVN-Gotham-Regular;
    color: #091829;
    background-color: #eaeaea;

    a {
        color: inherit;
    }

    &__container {
        @include flexbox;
        max-width: 85%;
        margin: 0 auto;
        // padding: 100px 0;
        padding: 5.208vw 0;

        @media (max-width: 767px) {
            @include flex-direction(column);
        }
    }

    &__wrap {
        width: 50%;

        @media (max-width: 767px) {
            width: 100%;
        }
    }

    &__left {
        // font-size: 25px;
        font-size: 1.302vw;
        line-height: normal;

        @media (max-width: 767px) {
            font-size: 3.5vw;
        }
    }

    &__right {
        // max-width: 465px;
        width: 24.219vw;
        margin: 0 auto;

        @media (max-width: 767px) {
            width: 80vw;
        }

        &-title {
            font-family: $UTMCenturBold;
            text-align: center;
            line-height: 1.3;
            // margin-bottom: 20px;
            // font-size: 31px;
            margin-bottom: 1.042vw;
            font-size: 1.615vw;

            @media (max-width: 767px) {
                font-size: 6.615vw;
                margin-top: 7vw;
            }
        }
    }

    &__logo {
        // max-width: 560px;
        // margin-bottom: 40px;
        // margin-left: 50px;
        width: 29.167vw;
        margin-bottom: 2.083vw;
        margin-left: 2.604vw;
        display: inline-block;

        @media (max-width: 767px) {
            width: 60vw;

            margin-left: auto;
            margin-right: auto;
            display: block;
        }
    }

    &__contact {
        // margin-bottom: 40px;
        margin-bottom: 2.083vw;

        .d-flex {
            @media (max-width: 767px) {
                @include flex-wrap(wrap);
            }
        }
    }

    &__address {
        @include flexbox;

        @media (max-width: 767px) {
            @include flex-direction(column);
        }

        &-item {
            &:first-child {
                // margin-right: 50px;
                margin-right: 2.604vw;

                @media (max-width: 767px) {
                    margin-bottom: 3vw;
                    margin-right: 0;
                }
            }
        }
    }

    &__form {
    }

    &__form-group {
        // margin-bottom: 15px;
        margin-bottom: 0.781vw;
    }

    &__form-control {
        border: none;
        background-color: transparent;
        // border-bottom: 1px solid #091829;
        // height: 60px;
        border-bottom: 0.052vw solid #091829;
        height: 3.125vw;
        border-radius: 0;
        outline: none;
        box-shadow: none;
        width: 100%;

        @media (max-width: 767px) {
            padding-left: 2.5vw;
            font-size: 3.5vw;
            height: 9.125vw;
        }
    }

    &__button {
        // margin-top: 50px;
        margin-top: 2.604vw;

        @media (max-width: 767px) {
            margin-top: 4vw;
        }
    }
}
